.custom-card-img {
  background: black;
}

.btn-more {
  width: 100%;
}

.custom-card-action {
  background-color: #808080 !important;
}

.btn-view-more {
  color: #ffea00 !important;

  &:hover {
    color: #fff !important;
  }
}
